.loading {
    padding: 10px;
    font-weight: 900;
    font-size: 3em;
    transform: translate3d(0, -50%, 0);
    color: #fff;
    width: 600px
}

.button-container {
    position: absolute;
    bottom: 20px;
    left: 40%;
}

button {
    padding: 0 50px;
    background-color: #027BFF;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    height: 60px;
    cursor: pointer;
}
button:hover {
    opacity: 0.9;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.thumbnail {
    height: 10vh;
    object-fit: cover;
    margin-left: 20px;
    background-color: #fff;
}

.thumbnail:hover {
    opacity: 0.9;
}

.link {
    margin-top: 10px;
    font-size: 16px;
}

