.file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.file-input::before {
    content: 'Take or upload a picture';
    display: flex;
    border: 1px solid #232a2a;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.file-input:hover::before {
    border-color: black;
}
.file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.file-input {
    width: 250px;
}
