.file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.file-input::before {
    content: 'Take or upload a picture';
    display: flex;
    padding: 0 10px;
    background-color: #027BFF;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    height: 60px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.file-input:hover::before {
    border-color: black;
}
.file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.file-input {
    width: 250px;
}